<tr>
	<td><%= product.id %></td>
	<td><%= product.name %></td>
	<td><%= product.matetrial_code %></td>
	<td><%= product.product_category_code %></td>
	<td><%= product.status ? 'Available' : 'Unavailable' %></td>
</tr>
